@import '../../styles/settings';

.beast-card {
    width: $beast-card-width;
    border: 12px solid $beast-card-border-color;
    box-shadow: 0 0 1px black;

    &__avatar {
        display: block;
        width: 100%;
    }

    &__button {
        display: block;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
    }
}