@import '../../styles/settings';

.beast-info-modal-container {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beast-info-modal-content {
  font-weight: 700;
  font-size: 18px;
  background-color: #1e45a9;
  box-shadow: inset 0 70px 150px darken(#1e45a9, 28);
  margin: 0 15px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 5px;

  @media screen and (min-width: $four-cards-width) {
    width: 80%;
    max-width: $four-cards-width;
  }
}

.beast-info-modal-image {
  width: $beast-card-width;
  border: 8px solid $beast-avatar-active-border-color;
  border-radius: 2px;
  margin-right: 3.2%;

  @media screen and (min-width: $three-cards-width) {
    margin-right: 6.4%;
  }

  @media screen and (min-width: $four-cards-width) {
    margin-right: 9.6%;
  }

  @media screen and (min-width: $five-cards-width) {
    margin-right: 12.8%;
  }

  @media screen and (min-width: $six-cards-width) {
    margin-right: 16%;
  }
}