/* Shared variables */
$beast-card-width: 125px;
$min-side-padding: 0px;
$double-side-padding: 2 * $min-side-padding;
$beast-info-desktop-width: 270px;
$beast-info-desktop-separation: 70px;
$beast-info-content-total-width: $beast-info-desktop-separation + $beast-info-desktop-width;

/* Breakpoints */
$three-cards-width: (3 * $beast-card-width) + $double-side-padding;
$four-cards-width: (4 * $beast-card-width) + $double-side-padding;
$five-cards-width: (5 * $beast-card-width) + $double-side-padding;
$six-cards-width: (6 * $beast-card-width) + $double-side-padding;
$beastiary-min-desktop-width: $six-cards-width + $beast-info-content-total-width;

/* Colors */
$beast-card-border-color: #3f3d31;
$beast-avatar-active-border-color: #fdf5b3;
$background-color: #1e45a9;