@import './styles/settings';

.App {
  display: block;
  background-color: #112a62;
  box-shadow: inset 0 0 150px black;
}

.bestiary {
  margin: 0 auto;
  padding: 20px $min-side-padding;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: (2 * $beast-card-width) + $double-side-padding;

  @media screen and (min-width: $three-cards-width + 1) {
    width: $three-cards-width;
  }

  @media screen and (min-width: $four-cards-width + 1) {
    width: $four-cards-width;
  }

  @media screen and (min-width: $five-cards-width + 1) {
    width: $five-cards-width;
  }

  @media screen and (min-width: $six-cards-width + 1) {
    width: $six-cards-width;
  }
}
